doctype html
html
  head
    title= "Autominuto"
    meta(property="og:type", content="website")
    meta(property="og:url", content= host + "/re?businessName=" + businessName)
    meta(property="og:title", content="Recomendame en autominuto.com")
    meta(property="og:image", content= host + "/assets/images/autominuto_icon_s.png")
    meta(property="og:description",
    content="Hola, " + businessName + " esta pidiendo que lo recomiendes para mejorar su reputación digital en AUTOMINUTO")
    meta(property="og:locale", content = "es_AR")
    meta(property="fb:app_id", content="2110556505881369")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Autominuto")
    link(rel="icon", type="image/x-icon" href="assets/images/favicon.ico")

    script(type="text/javascript")
      //<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="autominutohelp.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
      //]]>*/
  body
    h1 Autominuto
